

.blog-post-card{
  border-radius: 2px;
  background-color: white;
  width: 5px;
  text-align: center;
}
.post-content{
  padding: 20px;
}
.read-more:hover{
  background-color: blue;
}
.read-more{
  background-color: purple;
  margin: 2px;
  display: inline-block;
  border-radius: 5px;
  padding: 10px 20px;
}
.post-img{
  width: 20px;
  border-bottom: 5px solid;
}
.post-title{
  margin:4px;
  color: red;
}
.post-excerpt{
  margin: 4px;
  color:red;
}



